# Auto detect text files and perform LF normalization
* text=auto

# Standard to msysgit
*.csv diff=astextplain
*.txt diff=astextplain
*.md diff=astextplain
*.pem diff=astextplain
*.xml diff=astextplain
*.html diff=astextplain
*.json diff=astextplain
*.js diff=astextplain
*.css diff=astextplain
*.yml diff=astextplain
*.url diff=astextplain
*.Ink diff=astextplain
*.png -text
*.jpg -text
*.jpeg -text
*.svg -text
*.ico -text
